<template>
    <Layout>
        <h1 v-html="$page.post.title"></h1>
        <div class="content" v-html="$page.post.content"></div>
    </Layout>
</template>

<page-query>
query Post ($path: String!) {
    post: post (path: $path) {
        title
        content
    }
}
</page-query>

<script>
export default {
    metaInfo() {
        return {
            title: this.$page.post.title
        };
    }
}
</script>

<style>
h1 span, h5 span {
    display: none;
}

@media screen and (min-width: 760px) {
  .content {
    width: 760px;
  }
}
</style>
