<template>
  <Layout>
    <div>
      <h1>Contact us</h1>
      <contact-form />
    </div>
  </Layout>
</template>

<script>
import ContactForm from '~/components/ContactForm.vue'

export default {
  metaInfo: {
    title: 'Contact us',
    meta: [
      { name: 'keywords', content: '' }
    ]
  },
  components: {
    ContactForm
  }
}
</script>