<template>
  <Layout>
    <div>
      <h1>Services</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur rerum illum odit fugit assumenda rem dolores inventore iste reprehenderit maxime! Iusto.</p>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Services',
    meta: [
      { name: 'keywords', content: '' }
    ]
  }
}
</script>